Trabalho/src/META-INF/wsdl/localhost_40384/CalculatorService/CalculatorService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><xs:schema xmlns:tns="http://service.web.motim.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.web.motim.com.br/">

<xs:element name="divide" type="tns:divide" />

<xs:element name="divideResponse" type="tns:divideResponse" />

<xs:element name="multiply" type="tns:multiply" />

<xs:element name="multiplyResponse" type="tns:multiplyResponse" />

<xs:element name="subtract" type="tns:subtract" />

<xs:element name="subtractResponse" type="tns:subtractResponse" />

<xs:element name="sum" type="tns:sum" />

<xs:element name="sumResponse" type="tns:sumResponse" />

<xs:complexType name="multiply">
<xs:sequence>
<xs:element name="oper1" type="xs:double" />
<xs:element name="oper2" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="multiplyResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="divide">
<xs:sequence>
<xs:element name="oper1" type="xs:double" />
<xs:element name="oper2" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="divideResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sum">
<xs:sequence>
<xs:element name="oper1" type="xs:double" />
<xs:element name="oper2" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="sumResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtract">
<xs:sequence>
<xs:element name="oper1" type="xs:double" />
<xs:element name="oper2" type="xs:double" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="subtractResponse">
<xs:sequence>
<xs:element name="return" type="xs:double" />
</xs:sequence>
</xs:complexType>
</xs:schema>