Trabalho/xml-resources/web-service-references/CalculatorService/wsdl/localhost_40384/CalculatorService/CalculatorService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2-hudson-752-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.web.motim.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.web.motim.com.br/" name="CalculatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.web.motim.com.br/" schemaLocation="http://localhost:40384/CalculatorService/CalculatorService?xsd=1" />
</xsd:schema>
</types>
<message name="divide">
<part name="parameters" element="tns:divide" />
</message>
<message name="divideResponse">
<part name="parameters" element="tns:divideResponse" />
</message>
<message name="multiply">
<part name="parameters" element="tns:multiply" />
</message>
<message name="multiplyResponse">
<part name="parameters" element="tns:multiplyResponse" />
</message>
<message name="subtract">
<part name="parameters" element="tns:subtract" />
</message>
<message name="subtractResponse">
<part name="parameters" element="tns:subtractResponse" />
</message>
<message name="sum">
<part name="parameters" element="tns:sum" />
</message>
<message name="sumResponse">
<part name="parameters" element="tns:sumResponse" />
</message>
<portType name="Calculator">
<operation name="divide">
<input wsam:Action="http://service.web.motim.com.br/Calculator/divideRequest" message="tns:divide" />
<output wsam:Action="http://service.web.motim.com.br/Calculator/divideResponse" message="tns:divideResponse" />
</operation>
<operation name="multiply">
<input wsam:Action="http://service.web.motim.com.br/Calculator/multiplyRequest" message="tns:multiply" />
<output wsam:Action="http://service.web.motim.com.br/Calculator/multiplyResponse" message="tns:multiplyResponse" />
</operation>
<operation name="subtract">
<input wsam:Action="http://service.web.motim.com.br/Calculator/subtractRequest" message="tns:subtract" />
<output wsam:Action="http://service.web.motim.com.br/Calculator/subtractResponse" message="tns:subtractResponse" />
</operation>
<operation name="sum">
<input wsam:Action="http://service.web.motim.com.br/Calculator/sumRequest" message="tns:sum" />
<output wsam:Action="http://service.web.motim.com.br/Calculator/sumResponse" message="tns:sumResponse" />
</operation>
</portType>
<binding name="CalculatorPortBinding" type="tns:Calculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="divide">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="multiply">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="subtract">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="sum">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="CalculatorService">
<port name="CalculatorPort" binding="tns:CalculatorPortBinding">
<soap:address location="http://localhost:40384/CalculatorService/CalculatorService" />
</port>
</service>
</definitions>